%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts,
 [warnings_as_errors,
  warn_export_all]}.

{deps,
 [{rabbit_common, ".*", {git, "https://github.com/rabbitmq/rabbitmq-common", {tag, "rabbitmq_v3_6_2"}}},
  {amqp_client, ".*", {git, "https://github.com/rabbitmq/rabbitmq-erlang-client.git", {tag, "rabbitmq_v3_6_2"}}}
 ]}.
