%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
[{rabbitmq_pool,
  [{publish_method, confirm},
   {pools,
    [{rabbitmq_2331,
      [{host, "127.0.0.1"},
       {port, 5672},
       {username, <<"guest">>},
       {password, <<"guest">>},
       {virtual_host,<<"/">>},
       {connect_size, 2},
       {channel_size, 2}
      ]},
     {rabbitmq_2332,
      [{module, rmp_confirm},
       {host, "127.0.0.1"},
       {port, 5672},
       {virtual_host,<<"/">>},
       {connect_size, 2},
       {channel_size, 3}
      ]},
     {rabbitmq_2333,
      [{module, rmp_confirm},
       {host, "127.0.0.1"},
       {port, 5672},
       {connect_size, 2},
       {channel_size, 3}
      ]},
     {rabbitmq_2334,
      [{host, "127.0.0.1"}]},
     {rabbitmq_2335,
      [{nodes, [{"127.0.0.1", 5673}, {"127.0.0.1", 5672}]}]}
    ]}
  ]}
].
